.wrapper {
  position: relative;
  border: 2px solid darkgray;
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  height: 250px;
  transition: transform ease-in-out 0.5s;

  &CollectionPlaceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: darkgray;
  }

  &CollectionPlaceholder:hover {
    color: gray;
  }

  &Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #428554;
    color: white;
  }
}

.wrapper:hover {
  cursor: pointer;
  border: 2px solid gray;
  transform: scale(1.05);
}

.deleteButton {
  position: absolute;
  right: 10px;
  top: 5px;

  &:hover {
    color: darkred;
    transform: scale(1.05);
  }
}
